
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Home Page</title>
</head>
<body>
<h1>BAR NAME</h1>
<nav>
	<ul>
		<li>
			<a href="page1.erb">
				HOME
			</a>
		</li>
		<li>
			<a href="page2.erb">
				OUR STORY
			</a>
		</li>
		<li>
			<a href="page3.erb">
			MENU
			</a>
		</li>
		<li>
			<a href="page4.erb">
				LOCATIONS
			</a>
		</li>
	</ul>	
</nav>



<footer></footer>

</body>
<%= yield %>
</html>