
	<link rel="stylesheet" type="text/css" href="public\style.css">
	<title>Home Page</title>




<!-- <div class="slide"> <img src="images\catering.jpg"></div>  --> 
<div class="slide"> <img src="images\home.jpg"></div>  
<!-- <div class="slide"> <img src="images\location.jpg"></div>   -->
	</div>


