<link rel="stylesheet" type="text/css" href="styles/style.css">
		


	<title>Menu </title>
	


	<div id="column1">

    <p>
    <span>    
        WHITE HOWLER
    </span>    
    </p>

    <p style="color: white; background-color: #9B5F1D ">
        Old Grand Dad Bonded, Honey, Angostura bitters, Orange Bitters
    </p>
    <p style="color: white; background-color: #9B5F1D ">$10</p>

    <p>
    <span>
        SCARLET DEMON
    </span>
    </p>

    <p style="color: white; background-color: #9B5F1D ">
        Oola Gin, St. George Pear Brandy, Lime, Orange Bitters, Peychaud’s Bitters
    </p>
    <p style="color: white; background-color: #9B5F1D ">$10</p>

	</div>

	<div id="column2">

    <p>
    <span>
        ALPHA WARRIOR
    </span>    
    </p>

    <p style="color: white; background-color: #9B5F1D ">
        Rittenhouse Rye, Dry Vermouth, CioCiaro Amaro, Pomegranate, Orange Bitters, Thai Chili Bitters
    </p>
    <p style="color: white; background-color: #9B5F1D ">$10</p>

    <p>
    <span>
        FIERCE TEMPTRESS
    </span>
    </p>

    <p style="color: white; background-color: #9B5F1D ">
        Averna Amaro, New Amsterdam Vodka, Lime, Grapefruit bitters, Maple Whiskey Expression
    </p>
    <p style="color: white; background-color: #9B5F1D ">$10</p>

	</div>





<!-- /////////////////////////////////////// -->


		