<html>
<head>
	<link rel="stylesheet" type="text/css" href="public\style.css">
	<title>Home Page</title>
</head>
<body>


<nav></nav>
<img src="images\homephoto.jpg">
 
<h2>this is a test</h2>

<footer></footer>

</body>

</html>