<link rel="stylesheet" type="text/css" href="public\style.css">
	<title>Our Story </title>
	
	<div class="image">
    <img src="images\catering2.jpg" alt="" />

    <p div id="overlay">
    <span>
        The Night Howl is a destination where lone wolves can casually meet and mingle. We offer a laid-back atmosphere with a menu boasting a wide variety of mixed beverages.
        <br>
        It doesn't matter if you're an alpha, beta, or omega. You will find your pack here. Who knows? By the end of the night, you may end up walking home with a mate... or two.
    </span>
    </p>
</div>